@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




:root {

  /* Theme Colors */
  --theme-color-bg: #116466;
  --theme-color-btns: #2c3531;
  --theme-color-text: #ffcb9a;
  --theme-color-text-dark: #d9b08c;
  --theme-color-light: #d1e8e2;

  /* Theme Font Family */
  --theme-font-fam-primary: "Poppins", serif;
  --theme-font-fam-secondary: "Montserrat", serif;

  /* Font Size */
  --theme-font-size-small: 14px;
  --theme-font-size-medium: 18px;
  --theme-font-size-large: 24px;
}


/* :root {

  --theme-color-olive: #3aafa9;
  --theme-color-dark-grey: #17252a;
  --theme-color-light-grey: #feffff;
  --theme-color-light-skin: #def2f1;
  --theme-color-dark-skin: #2b7a7b;


  --theme-font-fam-primary: "Poppins", serif;
  --theme-font-fam-secondary: "Montserrat", serif;

  --theme-font-size-small: 14px;
  --theme-font-size-medium: 18px;
  --theme-font-size-large: 24px;
}  */

body {
  background-color: var(--theme-color-bg);
}


/* Navigation */
nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  height: 80px;
  z-index: 2;
  position: fixed;
  left: 50%;
  bottom: 15px;
  padding: 20px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  border-radius: 200px;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--theme-color-text);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.2);
}

nav a.active {
  background: var(--theme-color-dark-grey);
}